.failed-request {
  width: 100%;
  color: red;
}

#eduflashlogo {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-prompt {
  margin-bottom: 0.7rem;
}

#login-prompt > * {
  padding: 0.5rem 0px;
}

#login-prompt > h1 {
  font-size: 1.2rem;
  color: #0f172a;
}

#login-prompt > p {
  font-size: 1rem;
  color: #64748b;
}

form {
  display: flex;
  flex-direction: column;

  border: 1px solid #cbd5e1;
  border-radius: 12px;

  padding: 2rem;
}

form > * {
  margin: 0.4rem 0.3rem;
  min-width: 20rem;
}

form > label {
  color: #15394a;
}

input,
select {
  padding: 0.3rem;
  border: 1px solid #cbd5e1;
  border-radius: 4px;

  background-color: #ffffff;
  padding-left: 1rem;

  min-height: 1.8rem;
}

select,
input::placeholder {
  color: #889da8;
}

input[type="submit"] {
  background-color: #016493;
  color: #ffffff;
  min-height: 2.5rem;
  padding: 0;
}

input[type="submit"]:hover {
  cursor: pointer;
}

#register-link {
  text-align: center;
}

#register-link > a {
  color: #016493;
  text-decoration: none;
}